@{
    <head>
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KhumaloCraft Emporium</title>

        <!-- External stylesheets -->
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <section class="sub-header">
            <!-- Sub-header -->
            <h1>Contact KhumaloCraft Emporium</h1>
        </section>

        <!-- Contact us section -->
        <section class="location">
            <!-- Google Maps iframes -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26483.73535362093!2d18.465708474316397!3d-33.929117099999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1dcc5c928fa14911%3A0xa8a0fbad91854299!2sPinelands%20Business%20Park!5e0!3m2!1sen!2sza!4v1710844078729!5m2!1sen!2sza" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

        <section class="contact-us">
            <!-- Contact information -->
            <div class="row">
                <div class="contact-col">
                    <div>
                        <!-- Phone icon -->
                        <i class="fa fa-phone"></i>
                        <span>
                            <a href="tel:067-088-4672"><h5>Click here to call 067-088-4672</h5></a>
                            <p>Monday to Saturday, 8AM to 2PM</p>
                        </span>
                    </div>
                    <div>
                        <!-- Email icon -->
                        <i class="fa fa-envelope-o"></i>
                        <span>
                            <a href="mailto:kcraftemporium786@gmail.com"><h5>Click To Email Us Now</h5></a>
                            <p>Email Me for any queries you may have</p>
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <section class="footer">
            <div class="icons">
                <!-- Social media icon -->
                <a href="https://www.instagram.com/khumalocraftemporium_/"><i class="fa fa-instagram"></i></a>
            </div>
            <p><i class="fa fa-trademark"></i> 2024 KhumaloCraft Emporium</p>
        </section>

        <!-- JavaScript for Toggle Menu -->
        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu() {
                navLinks.style.right = "0";
            }
            function hideMenu() {
                navLinks.style.right = "-200px";
            }
        </script>
    </body>
}
